$base-input-color: whitesmoke;
$base-input-color-hover: #eeeeee;
$transition: background-color 300ms;

$primary: #3083ff;
$body-background-color: whitesmoke;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
